.mainBox{
    width: 100%;
    height: 1322px;
    display: flex;
    justify-content: center;
}

.halfLeftBox{
    width: 55%;
    height: 1500px;
    background-color: #F3F4F4;
    display: flex;
    align-items: center;

}

.InnerHalfLeftBox{
    width: 395px;
    height: 1350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.imgBox{
    width: 300px;
    height: 430px;
}

.eclipseHome{
    height: 275px;
    width: 275px;
    background-color: #B3B3B1;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.headerName{
    height: 70px;
    width: 90%;
    color: #36554A;
    font: 35px Roboto bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subHeaderName{
    height: 12px;
    width: 90%;
    color: #36554A;
    font: 20px Roboto medium;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.secondSubHeaderName{
    height: 110px;
    width: 100%;
    color: #6B6767;
    font: 16px Roboto regular;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.innerSecondSubHeaderName{
    height: 90px;
    width: 100%;
}

.basicInfoBox{
    width: 354px;
    height: 700px;
    margin-bottom: 100px;
}

.basicInfoHeader, .eduHeaderBox, .jobHeaderBox{
    height: 23px;
    width: 298px;
    color: #36554A;
    font: 23px semi-bold Roboto;
    margin-bottom: 40px;
}
hr{
    background-color: #CCCCCC;
    height: 0.5px;
    border: none;
}

.phoneInfo{
    width: 345px;
    height: 110px;
    display: flex;
    align-items: center;
    margin-top: -50px;
}

.answerInfo1{
    width: 100px;
    height: 100px;
    font: 20px medium Roboto;
    color: #3C3C3C;
    line-height: 13px;
    margin-top: 40px;
}

.Icon{
    width: 6%;
    height: 145px;
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #013522;
}

.answerInfo2{
    height: 100px;
    width: 70%;
    font: 17px regular Roboto;
    color: #6B6767;
    line-height: 16px;
    margin-top: 45px;
}

.skillsBox{
    height: 170px;
    width: 100%;
    margin-top: 95px;
}

.skills{
    height: 35px;
    width: 298px;
    color: #36554A;
    font: 23px semi-bold Roboto;
}

.skillsInfo{
    height: 200px;
    width: 298px;
    color: #6B6767;
    line-height: 25px;
}

.refBox{
    height: 170px;
    width: 100%;
    margin-top: 200px;
}

.ref{
    height: 30px;
    width: 85%;
    color: #36554A;
    font: 20px medium Roboto;
}

.refInfo{
    height: 170px;
    width: 85%;
    color: #6B6767;
}

.ref1{
    font: 14px regular Roboto;
    color: #6B6767;
    line-height: 8px;
}

.halfRightBox{
    width: 35%;
    height: 1500px;
    background-color: #38584C;
    display: flex;
    align-items: center;
}

.innerBox{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 1440px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(1, 65, 125, 0.25);
    position: absolute;
    right: 8%;
}

.mainHeaderBox{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.headerBox{
    display: flex;
    justify-content: center;
    width: 48%;
    height: 60px;
}

.mainEduJobBox{
    height: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.eduBox{
    width: 90%;
    height: 500px;
    /*background-color: yellow;*/
}

.eduInfoBox{
    height: 73px;
    width: 100%;
    /*background-color: aqua;*/
}

.eduHeaderBox{
    height: 0;
}

.jobBox{
    width: 90%;
    height: 800px;
    /*background-color: grey;*/
}


