.buttonHome{
    height: 35px;
    width: 110px;
    border: 0.5px solid #38584C;
    background-color: white;
    border-radius: 6px;
    font: 18px Roboto;
    margin-top: 8px;
    text-decoration: inherit;

}


.btnContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn{
    height: 35px;
    width: 110px;
    border-radius: 6px;
    font: 18px Roboto;
    background-color: #38584C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    border: 0.5px solid #38584C;
    background-color: white;
    color: #38584C;
}

.active:hover{
    background-color: #38584C;
    color: white;
}

.buttonLogin{
    height: 35px;
    width: 110px;
    border: 0.5px solid white;
    background-color: #38584C;
    border-radius: 6px;
    font: 18px Roboto;
    margin-top: 6px
}

.buttonHome2{
    height: 35px;
    width: 110px;
    border: 0.5px solid white;
    background-color: #38584C;
    border-radius: 6px;
    font: 18px Roboto;
    margin-top: 8px;
    text-decoration: inherit;

}

.buttonLogin2{
    height: 35px;
    width: 110px;
    border: 0.5px solid #38584C;
    background-color: white;
    border-radius: 6px;
    font: 18px Roboto;
    margin-top: 6px
}
